<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/stylesheet.css" />
    </head>
    <body>
        <header>
            <div id="top">
                <nav>
                    <a href="">HOME</a>
                    <a href="">DASHBOARD</a>
                    <div id="log-in-link">
                        <a href="">LOG IN</a>
                    </div>
                </nav>
            </div>
            <h1>TECH BLOG</h1>
        </header>
        {{{body}}}
    </body>
</html>