<ul>
    {{#each posts}}
        <li>
            <article>
                <div class="title">{{title}}</div>
                <div class="meta">By user {{user.username}} on {{created_at}}</div>
                <div class="url">{{post_url}}</div>
            </article>
        </li>
    {{/each}}
</ul>