<ol>
    <li>
        <article>
            <div class="title">{{!title}}</div>
            <div class="meta">
                {{!posted by}}
            </div>
            <div class="description">{{!desc}}</div>
        </article>
    </li>
</ol>