<ul>
    {{#each posts}}
        <li>
            <article>
                <div class="title">
                    <a href="/post/{{id}}">{{title}}</a>
                </div>
                <div class="meta">Created on {{created_at}}</div>
            </article>
        </li>
    {{/each}}
</ul>