body {
    margin: 0;
    background-color: #fff1d0;
}
header {
    padding: 1em;
    background-color: #06aed5;
}

nav {
    display: flex;
    justify-content: flex-start;
    gap: 1.5em;
}

#log-in-link {
    margin-left: auto;
    align-self: end;
}

header a {
    text-decoration: none;
    color: #fbe474;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 3px;
}

header h1 {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: #fbe474;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.25em;
}
